body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: lightblue;
}
#grid-container {
  width: 600px;
  height: 600px;
  border: 2px solid black;
}

#btn-reset {
  margin-bottom: 15px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;

  background-color: #4caf50; /* verde */
  color: white;
  border: none;
  border-radius: 6px;

  transition: background-color 0.2s ease, transform 0.1s ease;
}

#btn-reset:hover {
  background-color: #43a047;
}

#btn-reset:active {
  transform: scale(0.97);
}


.square {
  box-sizing: border-box;
  border: 1px solid #ec4141;
  background: yellow;
}
